<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.rafaelfelipeac.mountains">

    <application
            android:name="com.rafaelfelipeac.mountains.app.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_tome"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.rafaelfelipeac.mountains.ui.activities.MainActivity"
                  android:theme="@style/AppTheme.Splash"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustPan|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="4aeff5248210d88652894b2baac392e625a725ef" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>